*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --safe: lightgreen;
  --unsafe: salmon;
  --tick: rgb(5, 158, 218);
}

body,
.height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.speed__wheel {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(to right, #ed1b24, #f46523, #ffde17, #8dc641, #019444);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 90%);
  left: 50%;
  scale: 0.55;
}

.speed__wheel::before {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: -5%;
  left: 10%;
  background: white;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 90%);
}

.speed__tick {
  display: flex;
  gap: 1px;
}

.tick {
  transform-origin: bottom;
  position: absolute;
  background: linear-gradient(to top, transparent 90%, black 90%);
  height: 140px;
  width: 2px;
  top: 10px;
  left: 50%;
  transform: rotate(var(--angle)) rotateZ(-127deg) translateX(-50%);
  text-align: center;
}

.tick:nth-child(2) {
  background: none;
  rotate: 40deg;
  font-size: 18px;
}

.tick:nth-child(2)::before {
  content: "Safe";
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  left: -1000%;
  font-size: 18px;
}

.tick:nth-child(3) {
  background: none;
  rotate: -40deg;
  font-size: 18px;
  text-align: center;
}

.tick:nth-child(3)::before {
  content: "Unsafe";
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  left: -1500%;
  font-size: 18px;
}


.pointer {
  position: relative;
  background: black;
  height: 190px;
  width: 20px;
  left: 140px;
  top: 3px;
  clip-path: polygon(9px 10px, 11px 10px, 20px 150px, 10px 190px, 0 150px);
  transform-origin: 10px 145px;
  transition: all 2.5s;
  transform: translate3d(0, 0, 0);
  /* animation: animate-pointer 5s linear infinite; */
}

.pointer::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: gray;
  top: 140px;
  left: 5px;
  border-radius: 50%;
}

#prob {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  line-height: 1.5rem;
  /* font-size: x-large; */
}

@keyframes animate-pointer {
  0% {
    transform: rotate(-130deg);
  }

  80% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(-130deg);
  }
}

#map {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

#tripTable td,
#tripTable th {
  padding: 3px;
  text-align: center;
}

#container {
  transition: all 5s linear;
  background-image: radial-gradient(circle at center, transparent 70%, #ffde17)
}

#container.safe {
  background-image: radial-gradient(circle at center, transparent 70%, var(--safe))
}

#container.unsafe {
  background-image: radial-gradient(circle at center, transparent 70%, var(--unsafe))
}

.pointer.safe {
  animation: safe 3.5s ease-in forwards;
}

.pointer.safe.osc {
  animation: safeOsc 4.2s linear infinite;
}

.pointer.unsafe {
  animation: unsafe 3.5s ease-in forwards;;
}

.pointer.unsafe.osc {
  animation: unsafeOsc 4.2s linear infinite;
}

@keyframes safe {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 45deg;
  }
}


@keyframes safeOsc {
  0% {
    rotate: 45deg;
  }

  25% {
    rotate: 35deg;
  }

  50% {
    rotate: 45deg;
  }

  75% {
    rotate: 50deg;
  }

  100% {
    rotate: 45deg;
  }
}

@keyframes unsafe {
  0% {
    rotate: -0deg;
  }

  100% {
    rotate: -45deg;
  }
}


@keyframes unsafeOsc {
  0% {
    rotate: -45deg;
  }

  25% {
    rotate: -35deg;
  }

  50% {
    rotate: -45deg;
  }

  75% {
    rotate: -50deg;
  }

  100% {
    rotate: -45deg;
  }
}
